:root {
  --primary-color: rgba(22, 24, 54, 1.0);
  --secondary-color: rgba(47, 40, 64, 1.0);
  --tertiary-color: rgba(212, 116, 183, 1.0);
  --accent-color1: rgba(116, 212, 207, 1.0);
  --accent-color2: rgba(116, 212, 207, 0.3);
  }


/*   RESET DEFAULT BROWSER STYLES   */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

  body {
    font-size: .8em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
    background-color: var(--primary-color);
    color: rgba(180, 181, 207, 1.0);
    min-height: 100vh;
  }

  .start-text, .score-text, p {
    font-size: 1.8em;
  }
  .card {
    color: var(--primary-color);
  }

  .btn {
    box-shadow: 0 0 3px var( --accent-color1); 
    background-color: var(--tertiary-color);
    color: var(--primary-color)
   }
   
   .btn:hover {
     background-color: var(--accent-color1);
   }
   
   .btn::after {
     background-color: var(--accent-color2);
     color: var(--secondary-color);
   } 


  .answers {
    border-bottom: 2px solid var(--accent-color1);
  }

 #quiz-container, #score-container, #score-list-container {
  display: none;
}

  