:root {
  --primary-color: rgba(22, 24, 54, 1.0);
  --secondary-color: rgba(47, 40, 64, 1.0);
  --tertiary-color: rgba(212, 116, 183, 1.0);
  --accent-color1: rgba(116, 212, 207, 1.0);
  --accent-color2: rgba(116, 212, 207, 0.3);
  }


/*   RESET DEFAULT BROWSER STYLES   */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* text-decoration: none; */
}

html {
  min-height: 100vh;
  cursor: default;
}

body {
  font-size: 0.9em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  overflow-x: hidden;
  background-color: var(--primary-color);
  color: rgba(180, 181, 207, 1.0);
  height: 100vh;
  max-width: 98%;
}

a {
  color: inherit;
}


.start-text p, .score-text p {
  font-size: 1.3em;
}

 .card {
 color: var(--primary-color);
}

.btn {
  box-shadow: 0 0 3px var( --accent-color1); 
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  margin: 0.1em 0;
}
   
.btn:hover {
  background-color: var(--accent-color1);
}

.choiceBtn {
  font-size: 1.2em;
  line-height: 1;
}

.high-score-nav-btn nav ul li {
 list-style-type: none;
 
}

#question-container, #answer-container  {
  border-bottom: 2px solid var(--accent-color1);
}


 .score-item {
  color: var(--secondary-color);
  font-size: 1.1em;
  margin: 0 2em;
} 

#quiz-container, #game-over-container, #score-list-container {
  display: none;
}


/*** MEDIA QUERIES START   ***/

 @media (min-width: 576px) {
  .start-text p, .score-text p {
    font-size: 1.5em;
  }
}

/* MQ FOR SMALLER SCREENS  */
@media  (min-width: 768px){
  .start-text p, .score-text p {
    font-size: 1.5em;
  }
  #start {
    width: 30%;
  }
 .choiceBtn {
    width: 50%;
  }

}

/* MQ FOR LARGER TABLETS,  LAPTOPS  DESKTOPS  */
@media (min-width: 992px){

  .card-body p, #question, .score-text p {
    font-size: 2em;
  }

  .choiceBtn li {
    font-size: 7em;
  }

  .choiceBtn {
    width: 30%;
  }


  #score-list ol li {
    font-size: 1.6em;
  }
}


